<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="styleSheet" href="/styles/main.css">
        <link rel="styleSheet" href="/styles/partials/success.css">
     
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
        <title>Proff | Sua plataforma de estudos oline</title>
        <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
        <!-- <script src="scripts/addField.js" defer></script> -->
        <script src="scripts/successRedirect.js" defer></script>
    </head>

    <body id="page-success">
        <div id="container">
        
            <img src="../../images/icons/success-check-icon.svg" alt="checkpoint">
            <h1>Cadastro Salvo!</h1>
            <p>Tudo certo, seu cadastro está na nossa lista de professores.
                Agora é só ficar de olho no seu WhatsApp.</p>
            <button>Acessar lista</button>
            
            <input id="queryString" style="display: none;" value="{{queryString}}"></input>

        </div>

    </body>
</html>