#page-success{
    background-image:url(../../images/success-background.svg);
    background-color: var(--color-primary);
}

#page-success #container{
    border-radius:.8rem;
    height: 80vh;
    background-color: var(--color-primary);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
#container h1{
    margin-top:1.6rem;
    color:#ffff;
    font-family: Archivo;
}
#container p{
    margin-top:1.6rem;
    color: #ffff;
    font-family: Poppins;
    text-align: center;
}
#container button{
    padding:.8rem;
    width:20rem;
    height:5.5rem;
    background-color:var(--color-secondary);
    color:var(--color-button-text);
    border:0;
    border-radius:.8rem;
    cursor:pointer;
    font:700 1.4rem Archivo;
    text-decoration:none;
    transition:background 0.2s;
    margin-top:5.6rem;

    outline:0;
}
#container button:hover{
    background:var(--color-secondary-dark);
}

